* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vw;
  /* background-color:skyblue; */
}

div#container {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  text-align: center;
  /* background-color: black; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:center */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 200ms ease-in-out;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-size: 1rem;
  font-weight: bold;
}

.link {
  width: auto;
}

.link:hover {
  color: #ff6464;
}

.button:hover {
  color: #ff6464;
}

.button {
  border: 1px solid #fff;
  padding: 0.4em 1em;
  font-size: 1.14rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out color;
}

button:hover {
  background-color: (255, 0, 0, 0.6);
  color: #fff;
}

header {
  background-image: url("assets/d2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background-color: black; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

#about {
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; */
}

#projects {
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; */
}

h1 {
  font-size: 5rem;
}

section#portfolio {
  /* background-color: skyblue; */
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* portfolio h1 styles start here */

section#portfolio h1 {
  /* background-color: yellow; */
  color: lightblue;
  width: 100%;
  margin-top: 120px;
  /* pushing the word below header when click */
}

section#portfolio h1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* portfolio h1 styles end here */

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.changeColor {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.changeColor a {
  color: #000;
}

.changeColor a:hover {
  color: #ff6464;
}

.changeColor .button {
  border: 1px solid #000;
  color: #000;
}

.changeColor .button:hover {
  border: 1px solid #fff;
  color: #fff;
}

.floating-menu {
  font-family: sans-serif;
  /* background: yellowgreen; */
  padding: 5px;
  width: 100px;
  z-index: 100;
  position: fixed;
  bottom: 50%;
  right: 0px;
}

.floating-menu a {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: black;
  padding-top: 20px;
}

.floating-menu {
  display: flex;
  flex-direction: column;
}

.portfolio {
  width: 225px;
  height: 300px;
  overflow: hidden;
  /* background-color: lightgray; */
  text-align: center;
  color: black;
  margin: 20px 10px;
  /* transition: background-color 3s, box-shadow 2s; */
  /* transition control background or box shadow color duration */
  transition: all 0.7s;
  font-weight: 200;
  position: relative;
}

.portfolio h3 {
  font-size: 15px;
  padding-bottom: 10px;
}

.portfolio p {
  font-size: 10px;
}

.portfolio:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: lightgreen;
  cursor: pointer;
}

.portfolio img {
  display: block;
  height: 200px;
}

.portfolio {
  width: 20%;
}

@media screen and (min-width: 700px) {
  .icon {
    display: none;
  }
}

/* responsive nav bar start */
@media screen and (max-width: 700px) {
  .icon {
    display: block;
  }

  .link,
  .button {
    display: none;
  }

  header {
    background-position: left;
  }
}
/* responsive nav bar end */

/* fade start */

.change {
  width: 300px;
  height: 100px;
  color: red;
  animation-name: changeColor;
  animation-duration: 4s;
}

@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

/* fade end */
